body {
	margin-bottom: 24px;
	margin-top: 24px;
	margin-left: 9.5em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	background-repeat: no-repeat;
	background-color: white;
	background-position: 115% 115%;
	background-image: url(background.png);
	background-attachment: fixed;
	font-size: small;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul li {
	line-height: 130%;
	padding-bottom: 3px;
	padding-top: 0px;
	padding-left: 0;
	padding-right: 5px;
	float: left;	
}
#date {
	margin-bottom: 10px;
	margin-top: -10px;
	font-size: larger;
	font-style: italic;
}
ul li.name, ul li.date {
	clear: both;
	float: left;
	margin-left: -8em;
	width: 7em;
	left: -7em;
	text-align: right;
}
ul li.timestamp {
	float: none;
	clear: both;
	line-height: 200%;
	font-weight: bold;
	text-transform: lowercase;
	font-style: italic;
	font-size: smaller;
}
a {
	color: black;
	text-decoration: underline;
	font-weight: normal;
}
a:hover {
	color: #555;
}
.clear, ul li.clear {
	line-height: 0;
	height: 0;
	padding: 0px;
	margin: 0px;
	float: none;
	clear: both;
}
ul li.title {
	font-weight: bold;
}
ul li.subtitle {
	clear: both;
}

table {
	margin-top: 24px;
}
td.meeting {
	font-weight: bold;
	font-size: +1;
}
td.date {
	clear: both;
}
td {
	vertical-align: bottom;
}
h1 {
	margin-bottom: 18px;
}